{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="color:#565656;text-align: center; text-decoration: underline">todo.com</h1>
    <table border="1" >
        <tr  bgcolor="#6495ed">A faire</tr></br>
        <tr  bgcolor="#6495ed"><Ranger les courses</tr></br>
        <tr  bgcolor="#6495ed"><a href="{{ path('ajout') }}"> + </a></tr></br>
        <tr  bgcolor="#6495ed"><a href="{{ path('affiche') }}">fiare le ménage </a></tr></br>
        <tr  bgcolor="#6495ed">Dormir </tr></br>


    </table>
{% endblock %}